.widgetRegister
  h2.widgetRegister__title 参加登録始まりました
  p.widgetRegister__text 今年の WordCamp Tokyo はベルサール神田で2日間の開催です。<br>1日目はセッションやハンズオン、2日目はコントリビューターデイを企画しています!
  a.btnRegister(href="https://tokyo.wordcamp.org/2015/tickets/" title="参加登録") WordCamp Tokyo 2015に参加する
