.widgetRegister
  .widgetRegister__item
    h2.widgetRegister__title 参加登録受付中
    p.widgetRegister__text 今年の WordCamp Tokyo はベルサール神田で2日間の開催です。<br>1日目はセッションやハンズオン、2日目はコントリビューターデイを企画しています!
  .widgetRegister__item
    a.btnRegister(href="https://tokyo.wordcamp.org/2015/tickets/") WordCamp Tokyo 2015 に参加する
// / .widgetRegister
.widgetFeatured
  .widgetFeatured__columns.widgetFeatured__columns--four
    a(href="#")
      //- .widgetFeatured__icon
      i.dashicons.dashicons-megaphone
      h2.widgetFeatured__title スピーカー
      p.widgetFeatured__text
        span.widgetFeatured__label NEW
        | 2015/9/30 第一弾発表!!
  .widgetFeatured__columns.widgetFeatured__columns--four
    a(href="#")
      //- .widgetFeatured__icon
      i.dashicons.dashicons-calendar-alt
      h2.widgetFeatured__title タイムテーブル
      p.widgetFeatured__text
        span.widgetFeatured__label NEW
        | タイムテーブル公開しました
  .widgetFeatured__columns.widgetFeatured__columns--four
    a(href="#")
      //- .widgetFeatured__icon
      i.dashicons.dashicons-location.widgetFeatured__content
      h2.widgetFeatured__title アクセス
      p.widgetFeatured__text 会場までのルートをチェック!
// / .widgetFeatured

