@charset "utf-8";

//***********************
// Color
//***********************

// Theme color
$colorWhite         : #ffffff;
$colorBlack         : #222222;
$colorBlue          : #0b346e;
$colorGold          : #c19534;

// Text Color
$colorText          : #333333;
$colorLink          : #52a9cf;
$colorLinkHover     : lighten($colorLink, 15%);
$colorSelection     : $colorLink;
// navigation
$colorNav           : $colorBlack;



//***********************
// Path
//***********************
$filePath           : "files/";

//***********************
// Font Family
//***********************
// primary
$fontFamily         : "Helvetica Neue", "Helvetica", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック","MS PGothic",Arial,Sans-Serif;
// En
$fontFamilyEn       : "Helvetica Neue", "Helvetica",Sans-Serif;
// code
$fontFamilyCode     : Menlo,Consolas,Courier,sans-serif;

//***********************
// Colum Base Width
//***********************
$maxWidth           : 1040px;

//***********************
// Navigation Size
//***********************
$navHeight         : 40px;
// $navItemWidth   : ;
$navItemHeight     : 12px;
$navPadding        : ($navHeight - $navItemHeight) / 2; // Calclate padding size automatically
