@charset "utf-8";

//***********************
// Color
//***********************
// Basic Color

// Text Color
$colorText          : #333333;
$colorLink          : #52a9cf;
$colorLinkHover     : lighten($colorLink, 15%);
$colorSelection     : $colorLink;

//***********************
// Path
//***********************
$filePath           : "files/";

//***********************
// Font Family
//***********************
// primary
$fontFamily         : "Helvetica Neue", "Helvetica", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック","MS PGothic",Arial,Sans-Serif;
// En
$fontFamilyEn       : "Helvetica Neue", "Helvetica",Sans-Serif;
// code
$fontFamilyCode     : Menlo,Consolas,Courier,sans-serif;

//***********************
// Colum Base Width
//***********************
$maxWidth           : 1040px;

//***********************
// Navigation Size
//***********************
// $menuHeight      : ;
// $menuItemWidth   : ;
// $menuItemHeight  : ;
// $menuPadding     : ($menuHeight - $menuItemHeight) / 2; // Calclate padding size automatically
