@charset "utf-8";
/* content
/* ---------------------------------------- */
#content {
  background-color: $colorWhite;
  .entry-header {
    padding: 0 20px;
  }
  .entry-content {
    padding: 0 20px;
  }
  footer.entry-meta {
    padding: 0 20px;
  }
}

/* editor-style
/* ---------------------------------------- */
