@charset "utf-8";

/* featured
/* ---------------------------------------- */
.featured {
  @include grid-row();
  &__title {
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
    font-size: rem-calc(18);
  }
  &__content {
    a {
      display: block;
      min-height: 100px;
      height: auto;
      background-color: $colorWhite;
    }
    @media #{$small-only} {
      @include grid-column(
        $columns: 12
      );
    }
    // when number of columns are three
    // @media #{$medium-up} {
    //   @include grid-column(
    //     $columns: 4,
    //     $collapse: false,
    //     $float: left
    //   );
    // }
    // when number of columns are four
    @media #{$medium-up} {
      @include grid-column(
        $columns: 6,
        $collapse: false
      );
    }
    @media #{$large-up} {
      @include grid-column(
        $columns: 3,
        $collapse: false
      );
      margin-bottom: 0;
    }
  }
}
