@charset "utf-8";

/* footer
/* ---------------------------------------- */
.site-footer {
  padding: 40px 0;
  background-color: #999999;
}
.footer-widgets {
  @include grid-row();
}
.site-info {
  @include grid-row();
  padding: 40px 0;
  text-align: center;
}
