@charset "utf-8";
/* layout
/* ---------------------------------------- */
/* after-header-widgets */
#after-header-widgets {
  margin: 40px auto;
}
/* two columns */
#main {
  padding: 0 10px;
  margin: 40px 0;
}
@media #{$medium-up} {
  #main {
    @include grid-row();
    padding: 0;
  }
  #primary {
    @include grid-column(
      $columns: 8,
      $collapse: false,
      $float:left
    )

  }
  #secondary {
    @include grid-column(
      $columns: 4,
      $collapse: false,
      $float: right
    )
  }
}
