@charset "utf-8";

/* after header widgets
/* ---------------------------------------- */

/* register */
.widgetRegister {
  @include grid-row();
  text-align: center;
  background-color: #ffffff;
  border: 1px solid lighten($colorSilver, 10%);
  &__title {
    margin-top: 20px;
    display: inline-block;
    padding-bottom: 8px;
    border-bottom: 4px solid $colorGold;
    font-size: rem-calc(20);
    line-height: 1;
  }
  &__text {
    margin: 20px 0 ;
    font-size: rem-calc(12);
  }
}
/* featured */

$iconSmall: 50px;
$iconLarge: 80px;

%widgetFeaturedRight {
  margin-left: 60px;
  @media #{$medium-up} {
    margin-left: 0;
  }
}
.widgetFeatured {
  @include grid-row();
  a {
    display: block;
    padding: 10px;
  }
  .dashicons {
    display: block;
    float: left;
    font-size: $iconSmall;
    width: 0;
    height: 0;
  }
  &__columns {
    @extend %clearfix;
    margin-bottom: 2px;
    background-color: #ffffff;
  }
  &__title {
    @extend %widgetFeaturedRight;
    font-weight: bold;
  }
  &__text {
    @extend %widgetFeaturedRight;
    font-size: rem-calc(13);
  }
  &__label {
    margin-right: 5px;
    padding: 2px 4px;
    background-color: $colorOrange;
    border-radius: 3px;
    color: #ffffff;
    font-size: rem-calc(13);
  }
}
/* media */
@media #{$small-only} {
  .widgetRegister {
    padding: 20px 10px;
    &__text {
      text-align: left;
    }
  }
}

@media #{$medium-up} {
  .widgetRegister {
    padding: 30px;
    background-image: url($filePath + '09/bg_afterHeader.png');
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: 34px auto;
    &__title {
      font-size: rem-calc(24);
    }
    &__text {
      font-size: rem-calc(14);
    }
  }
  .widgetFeatured {
    @include grid-row();
    text-align: center;
    a {
      padding: 20px 10px;
    }
    .dashicons {
      float: none;
      margin: 0 auto 10px auto;
      width: $iconLarge;
      height: auto;
      font-size: $iconLarge;
    }
    &__columns {
      &--two {
        @include grid-column(
          $columns: 2
        );
      }
      &--three {
        @include grid-column(
          $columns: 6
        );
      }
      &--four {
        @include grid-column(
          $columns: 4
        );
      }
    }
    &__title {
      font-size: rem-calc(20);
    }
  }
}
@media #{$large-up} {
  .widgetFeatured {
    &__columns {
      &--three {
        @include grid-column(
          $columns: 3
        );
      }
    }
  }
}
