@charset "utf-8";

/* after header widgets
/* ---------------------------------------- */
.widgetRegister {
  @include grid-row();
  padding: 40px 0;
  text-align: center;
  background-color: #ffffff;
  background-image: url($filePath + '09/bg_afterHeader.png');
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: 34px auto;
  border: 1px solid lighten($colorSilver, 10%);
  &__title {
    margin-top: 20px;
    display: inline-block;
    padding-bottom: 8px;
    border-bottom: 4px solid $colorGold;
    font-size: rem-calc(28);
    line-height: 1;
  }
  &__text {
    margin: 20px 0 ;
    font-size: rem-calc(14);
  }
}
/* media */
@media #{$small-only} {
  .widgetRegister {
    padding: 40px 10px;
    &__text {
      text-align: left;
    }
  }
}
