@charset "UTF-8";

/* buttons
/* ---------------------------------------- */
/* for editor style */
.entry-content {
  .btn {
    @include buttonBase(rem-calc(14), lighten($colorOrange, 4%));
    font-size: rem-calc(16);
  }
  .btnFull {
    @include buttonBase(rem-calc(14), lighten($colorOrange, 4%), true);
    font-size: rem-calc(16);
  }
  .btnGroup {
    margin: 20px 0;
    margin-left: 0;
    &__btn {
      @include buttonBase(rem-calc(14), lighten($colorOrange, 4%), true);
      margin-bottom: 0;
      font-size: rem-calc(16);
    }
    > li {
      margin-left: 0;
      list-style-type: none;
    }
  }
}
/* register */
.btnRegister {
  @include buttonBase(rem-calc(14), lighten($colorOrange, 4%), false);
  font-size: rem-calc(16);
}
/* media */
@media #{$small-only} {
  .btnRegister {
    font-size: rem-calc(14);
  }
}
@media #{$medium-up} {
  .entry-content {
    .btnGroup {
      @include button-group-container();
      margin: 30px 0;
      > li {
        @include button-group-style(
          $even: 2,
          $float: left
        );
        list-style-type: none;
        border-right: 2px solid $colorWhite;
        &:last-child {
          border-right: none;
        }
      }
    }
  }
}
