
<div class="sponsors">
  <h1 class="sponsors__title">スポンサー</h1>
  <div class="sponsors__column">
    <h2 class="sponsors__subTitle sponsors__subTitle--champion">Champion</h2>
    <ul class="sponsors__list">
      <li>logo</li>
    </ul>
    <h2 class="sponsors__subTitle sponsors__subTitle--gold">Gold</h2>
    <ul class="sponsors__list">
      <li>logo</li>
    </ul>
    <h2 class="sponsors__subTitle sponsors__subTitle--accomplice">Accomplice</h2>
    <ul class="sponsors__list">
      <li>logo</li>
    </ul>
    <h2 class="sponsors__subTitle sponsors__subTitle--silver">Silver</h2>
    <ul class="sponsors__list">
      <li>logo</li>
    </ul>
    <h2 class="sponsors__subTitle sponsors__subTitle--bronze">Bronze</h2>
    <ul class="sponsors__list">
      <li>logo</li>
    </ul>
    <h2 class="sponsors__subTitle sponsors__subTitle--link">Link</h2>
    <ul class="sponsors__list">
      <li>logo</li>
    </ul>
  </div>
  <div class="sponsors__twoColumns">
    <h2 class="sponsors__subTitle sponsors__subTitle--media">Media</h2>
    <ul class="sponsors__list">
      <li>logo</li>
    </ul>
  </div>
  <div class="sponsors__twoColumns">
    <h2 class="sponsors__subTitle sponsors__subTitle--tool">Tool</h2>
    <ul class="sponsors__list">
      <li>logo</li>
    </ul>
  </div>
</div>
<!-- .sponsors-->