
<div class="sponsors">
  <h1 class="sponsors__title">スポンサー</h1>
  <div class="sponsors__column sponsors__column--two">
    <h2 class="sponsors__rank sponsors__rank--champion">Champion</h2>
    <ul class="sponsors__list sponsors__list--champion">
      <li><a href="#"><img src="http://placehold.jp/450x100.png" alt=""/></a></li>
    </ul>
  </div>
  <div class="sponsors__column sponsors__column--two">
    <h2 class="sponsors__rank sponsors__rank--superb">Superb</h2>
    <ul class="sponsors__list sponsors__list--superb">
      <li><a href="#"><img src="http://placehold.jp/450x100.png" alt=""/></a></li>
    </ul>
  </div>
  <div class="sponsors__column">
    <h2 class="sponsors__rank sponsors__rank--gold">Gold</h2>
    <ul class="sponsors__list sponsors__list--gold">
      <li><a href="#"><img src="http://placehold.jp/450x100.png" alt=""/></a></li>
      <li><a href="#"><img src="http://placehold.jp/450x100.png" alt=""/></a></li>
    </ul>
  </div>
  <div class="sponsors__column">
    <h2 class="sponsors__rank sponsors__rank--accomplice">Accomplice</h2>
    <ul class="sponsors__list sponsors__list--accomplice">
      <li><a href="#"><img src="http://placehold.jp/300x100.png" alt=""/></a></li>
    </ul>
  </div>
  <div class="sponsors__column">
    <h2 class="sponsors__rank sponsors__rank--silver">Silver</h2>
    <ul class="sponsors__list sponsors__list--silver">
      <li><a href="#"><img src="http://placehold.jp/300x100.png" alt=""/></a></li>
      <li><a href="#"><img src="http://placehold.jp/300x100.png" alt=""/></a></li>
      <li><a href="#"><img src="http://placehold.jp/300x100.png" alt=""/></a></li>
    </ul>
  </div>
  <div class="sponsors__column">
    <h2 class="sponsors__rank sponsors__rank--bronze">Bronze</h2>
    <ul class="sponsors__list sponsors__list--bronze">
      <li><a href="#"><img src="http://placehold.jp/200x90.png" alt=""/></a></li>
      <li><a href="#"><img src="http://placehold.jp/200x90.png" alt=""/></a></li>
      <li><a href="#"><img src="http://placehold.jp/200x90.png" alt=""/></a></li>
      <li><a href="#"><img src="http://placehold.jp/200x90.png" alt=""/></a></li>
      <li><a href="#"><img src="http://placehold.jp/200x90.png" alt=""/></a></li>
      <li><a href="#"><img src="http://placehold.jp/200x90.png" alt=""/></a></li>
      <li><a href="#"><img src="http://placehold.jp/200x90.png" alt=""/></a></li>
      <li><a href="#"><img src="http://placehold.jp/200x90.png" alt=""/></a></li>
    </ul>
  </div>
  <div class="sponsors__column">
    <h2 class="sponsors__rank sponsors__rank--link">Link</h2>
    <ul class="sponsors__list sponsors__list--link">
      <li class="link__item"><a href="#">sponsor name</a></li>
      <li class="link__item"><a href="#">sponsor name</a></li>
      <li class="link__item"><a href="#">sponsor name</a></li>
      <li class="link__item"><a href="#">sponsor name</a></li>
      <li class="link__item"><a href="#">sponsor name</a></li>
      <li class="link__item"><a href="#">sponsor name</a></li>
      <li class="link__item"><a href="#">sponsor name</a></li>
      <li class="link__item"><a href="#">sponsor name</a></li>
    </ul>
  </div>
  <div class="sponsors__column">
    <h2 class="sponsors__rank sponsors__rank--media">Media</h2>
    <ul class="sponsors__list sponsors__list--media">
      <li><a href="#"><img src="http://placehold.jp/200x90.png" alt=""/></a></li>
    </ul>
  </div>
  <div class="sponsors__column">
    <h2 class="sponsors__rank sponsors__rank--support">Support</h2>
    <ul class="sponsors__list sponsors__list--support">
      <li><a href="#"><img src="http://placehold.jp/200x90.png" alt=""/></a></li>
    </ul>
  </div>
</div>
<!-- .sponsors-->